{{ 'product-cards.css' | asset_url | stylesheet_tag }}
{{ 'product-metafields.css' | asset_url | stylesheet_tag }}

<div class="products">
  {% for product in products %}
    {% render 'product-card' with product as product %}
  {% endfor %}
</div>