<section style="padding-top: 200px; padding-bottom: 200px">
  <div class="404" style="max-width: 1000px; margin-left: auto; margin-right: auto; display: flex; flex-direction: column; gap: 25px; align-items: center;">
    <h1>404</h1>
    <span>Oops, there was an error somewhere...</span>
    <a class="btn1" href="{{ routes.root_url }}">Go back home</a>
  </div>
</section>